@import "@Styles/styleRoot.scss";
@import "@Styles/styleMixin.scss";

.main {
  width: 100%;
  max-width: 375px;
  height: auto;
  padding: 16px;
  @include flexcols;
  gap: 10px;
  background-color: $bg-secondary;
  color: $text-secondary;
}
