@import "@Styles/styleRoot.scss";

.logotype {
  width: 48px;
  height: 23px;
  margin: 0;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: $text-default;
}
