.with-loader {
  width: 343px;
  height: 92px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #212529;

  &__loader {
    position: absolute;
    z-index: 100;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
  
}
