$bg-default: #F5F5F5;
$text-default: #000000;

$bg-primary: #FFFFFF;
$bg-secondary: #F8F9FA;
$bg-tertiary: #DFE2E4;

$text-primary: #212529;
$text-secondary: #343A40;
$text-tertiary: #6C757D;

$bg-transparent: rgba(217,217,217, 0);

$color-blue: #0063F5;
$color-green: #21BF73;
$color-red: #FB2173;
