@mixin flexrows {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin flexwrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@mixin flexcols {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
