@import "@Styles/styleRoot.scss";
@import "@Styles/styleMixin.scss";

@mixin changes {
  width: 132px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
}

.prices {
  width: 100%;
  max-width: 375px;
  height: auto;
  min-height: 30px;
  @include flexrows;
  align-items: baseline;
  gap: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid $bg-tertiary;
  margin-bottom: 10px;

  &__current {
    width: 121px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    color: $text-primary;
  }

  &__changes {

    &_up {
      @include changes();
      color: $color-green;
    }
  
    &_down{
      @include changes();
      color: $color_red;
    }

  }

}
