@import "@Styles/styleRoot.scss";
@import "@Styles/styleMixin.scss";

.notice {
  width: 100%;
  max-width: 375px;
  height: 20px;
  display: block;
  padding: 2px 0 0;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $color-red;
  overflow: hidden;
}
