@import "@Styles/styleRoot.scss";
@import "@Styles/styleMixin.scss";

.search {
  width: 100%;
  max-width: 375px;
  height: auto;
  position: relative;
  @include flexrows;
  justify-content: space-between;
  margin-bottom: 18px;
}
