@import "@Styles/styleRoot.scss";

.app {
  width: 400px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $bg-market-light;
  gap: 20px;
}
