@import "@Styles/styleRoot.scss";

.footer {
  width: 100%;
  max-width: 375px;
  height: auto;
  display: block;
  padding: 0 16px 16px;
  border-top: 1px solid $bg-tertiary;
  background-color: $bg-primary;
  color: $text-secondary;
}
