@import "@Styles/styleRoot.scss";
@import "@Styles/styleMixin.scss";

.navigate {
  width: 100%;
  max-width: 375px;
  height: 22px;
  @include flexrows;
  justify-content: space-between;
  gap: 10px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: $text-tertiary;

  &__arrows {
    margin-left: auto;
    display: flex;
    gap: 10px;
  }

}
