.multi-dropdown {
  width: 368px;
  min-width: 226px;
  height: auto;
  min-height: 24px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &__window {
    width: 368px;
    min-width: 226px;
    height: 24px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 4px 0 4px 8px;
    background-color: #FFFFFF;
    border: 0.5px solid #DFE2E4;
    border-radius: 12px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 16px;
    color: #343A40;
  }

  &__window::placeholder {
    color: #6C757D;
  }

  &__window::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    width: 7px;
    height: 5px;
    pointer-events: none;
    background-color: #6C757D;
    clip-path: polygon(50% 100%, 100% 0, 0 0);
  }

  &__window:focus,
  &__window:hover {
    border: 0.5px solid #6C757D;
  }

  &__list {
    width: 368px;
    min-width: 226px;
    height: auto;
    min-height: 24px;
    margin-top: 10px;
    border: none;
  }

  &__item {
    width: 368px;
    min-width: 226px;
    height: 24px;
    background-color: #FFFFFF;
    border: 0.5px solid #DFE2E4;
    border-bottom: none;
    padding: 4px 0 4px 8px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 16px;
    color: #343A40;
  }

  &__item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &__item:last-child  {
    border-bottom: 0.5px solid #DFE2E4;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  &__item:hover {
    background-color: #F8F9FA;
    cursor: pointer;
  }

  &__item_choosed {
    background-color: #F8F9FA;
  }

  &__item_choosed:hover {
    background-color: #FFFFFF;
  }

  &:disabled > &__window,
  &_disabled > &__window {
    border: 0.5px solid #DFE2E4;
    background-color: #F8F9FA;
    cursor: default;
  }

}
