@import "@Styles/styleRoot.scss";

.button {
  width: auto;
  height: 40px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 6px;
  border-radius: 6px;
  background-color: $bg-tertiary;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: $text-secondary;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:disabled,
  &_disabled {
    cursor: default;
    opacity: 0.3;
  }

  &_clear {
    width: 14px;
    height: 14px;
    padding: 4px;
    top: 3px;
    right: 53px;
    border: none;
    position: absolute;
    color: $color-red;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    background-color: $bg-transparent;
  }
  
}
